@media screen and (max-width: 480px) {
    /* Student Faves Section */
    body {
        max-width: 480px;
    }

    .student-favorites {
        padding-top: 5px;
        padding-bottom: 40px;
        align-items: center;
        text-align: center;
        justify-content: center;
        background-color: #ECE0D1;
    }
    
    #favorites-title {
        font-family: "Raleway", sans-serif;
        font-size: 20px;
        color: #492310;
    }

        /* Student Favorite Cards */
        .cards {
            display: flex;
            justify-self: center;
            align-items: center;
            flex-direction: row;
            gap: 50px;
        }
        
        .card {
            background-color: #FFF8F0;
            color: #492310;
            width: 110px;
            border-bottom-left-radius: 30px;
            border-bottom-right-radius: 30px;
            height: 150px;
        }

        .card:hover {
            transform: scale(1.1);
        }

        .card-image {
            height: 20px;
        }
        
        .card-title {
            font-family: "Poppins", sans-serif;
            font-weight: 700;
            font-style: normal;
            font-size: 14px;
            height: 60px;
        }
        
        .card-caption {
            font-family: "Poppins", sans-serif;
            font-weight: 400;
            font-style: normal;
            font-size: 10px;
        }
    

    /* Categories for Recipes Section */
    .recipes {
        background-color: #FFF5E8;
        padding-bottom: 90px;
        display: flex;
        flex-direction: column;
    }
    
    .recipes-header {
        justify-content: space-between;
        align-items: center;
    }
    
    .recipe-title {
        font-family: "Viaoda Libre", serif;
        font-weight: 400;
        font-style: normal;
        font-size: 80px;
        letter-spacing: -10px;
        color: #556B2F;
        opacity: 50%;
        margin-top: -13px;
    }
    
    .ribbon {
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: italic;
        font-size: 10px;
        background-color: #556B2F;
        color: #FFFFFF;;
        border-radius: 20px 0px 0px 20px;
        height: 100px;
        margin-top: -80px;
        height: 40px;
        margin-left: 20px;
        padding-right: 0px;
    }
    
    .categories {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        gap: 10px;
        position: relative;
        top: 170px;
        left: -40px;
    }

        /* Category Cards */
        .drink-card {
            width: 240px;
        }
        
        .drink-card-image {
            height: 90px;
            border-radius: 100px;
            z-index: 1;
        }
        
        .drink-card-title {
            font-family: "Platypi", serif;
            font-style: italic;
            font-weight: 100;
            font-size: 10px;
            color: #634832;
            margin-bottom: 20px;
            margin-left: -10px;
            width: 110px;
        }
        
        .drink-card-link {
            color: black;
            font-family: "Poppins", sans-serif;
            font-weight: 300;
            font-style: normal;
            font-size: 10px;
            position: relative;
            top: -20px;
            left: -17px;
            width: 90px;
        }
}