.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ece0d1;
    color: #492310;
    width: 100%;
    font-family: 'Poppins';
  }

  .nav-links {
    display: flex;
    gap: 20px;
  }

  /* Dropdown Button */
  .nav-item {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    color: #492310;
    font-family: 'Poppins';
  }
  
  /* Dropdown Container */
  .dropdown {
    position: relative;
    display: inline-block;
  }

  .drpdwn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  
  /* Dropdown Menu */
  .dropdown-menu {
    display: block;
    position: absolute;
    top: 100%;
    left: 20px;
    background: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 10px;
    min-width: 150px;
    z-index: 100;
  }
  
  /* Dropdown Items */
  .dropdown-menu span {
    display: block;
    padding: 8px 10px;
    cursor: pointer;
    color: #492310;
  }
  
  .dropdown-menu span:hover {
    background-color: #f4e1d2;
  }

  .search-bar {
    display: flex;
    position: relative;
  }

  .search-btn {
    border: 0;
    background-color: transparent;
  }
  
  .search-results {
    position: absolute;
    top: 100%;
    left: 0;
    background: white;
    border: 1px solid #ccc;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    list-style: none;
    padding: 0;
    margin: 0;
    z-index: 20;
  }
  .no-results {
    padding: 8px;
    color: #888;
    font-style: italic;
  }

  .search-results li {
    padding: 8px;
    cursor: pointer;
  }

  .search-results li:hover {
    background-color: #f0f0f0;
  }
  