@import url('https://fonts.googleapis.com/css2?family=Platypi:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Viaoda+Libre&display=swap');



.content-page-info {
    background-color: #FFF5E8;
    position: relative;
    top: -22px;
}

.content-name {
    height: 100px;
}

.drink-info {
    margin: 0px;
}

.drink-name-section {
    padding: 20px 0px;
    background-color: #ECE0D1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0px;
}

.name-left {
    text-align: left;
    gap: 0px;
}

.drink-name {
    font-size: 50px;
    font-family: 'Poppins';
    color: #492310;
    max-width: 360px;
    max-height: 80px;
    text-shadow: 0px 2px  #ffffff;
    line-height: 50px;
}

.drink-image {
    height: 260px;
    width: 260px;
    border-radius: 180px;
}

.drink-tags {
    max-width: 260px;
}

.drink-description {
    max-width: 360px;
    font-family: 'Poppins';
}

.tags-list {
    display: flex;
    flex-direction: row;
    gap: 10px;
    position: relative;
    left: -40px;
}

.caramel-tag {
    list-style-type: none;
    background-color: #DCA56D;
    color: #ffffff;
    font-family: 'Poppins';
    border-radius: 90px;
    padding: 0px 10px;
}

.lemon-tag{
    list-style-type: none;
    background-color: #ffef5d;
    color: #ffffff;
    font-family: 'Poppins';
    border-radius: 90px;
    padding: 0px 10px;
  }
  
.discover-tag {
    list-style-type: none;
    background-color: #967259;
    color: #ffffff;
    font-family: 'Poppins';
    border-radius: 90px;
    padding: 0px 10px;
}

.strawberry-tag {
    list-style-type: none;
    background-color: #91261a;
    color: #ffffff;
    font-family: 'Poppins';
    border-radius: 90px;
    padding: 0px 10px;
}

.apple-tag {
    list-style-type: none;
    background-color: #5d0000;
    color: #ffffff;
    font-family: 'Poppins';
    border-radius: 90px;
    padding: 0px 10px;
}

.mocha-tag {
    list-style-type: none;
    background-color: #42270d;
    color: #ffffff;
    font-family: 'Poppins';
    border-radius: 90px;
    padding: 0px 10px;
}

.dairy-tag {
    list-style-type: none;
    background-color: #060056;
    color: #ffffff;
    font-family: 'Poppins';
    border-radius: 90px;
    padding: 0px 10px;
}

.trending-tag {
    list-style-type: none;
    background-color: #3e4f21;
    color: #ffffff;
    font-family: 'Poppins';
    border-radius: 90px;
    padding: 0px 10px;
}

.turmeric-tag {
    list-style-type: none;
    background-color: #7e5e00;
    color: #ffffff;
    font-family: 'Poppins';
    border-radius: 90px;
    padding: 0px 10px;
}

.allergy {
    width: 420px;
    font-style: italic;
    font-family: 'Poppins';
    font-size: 20px;
    background-color: #3E4F21;
    color: white;
    padding: 20px;
    position: relative;
    top: 10px;
    border-top-right-radius: 90px;
    border-bottom-right-radius: 90px;
    text-align: center;
}

.ingredients-section {
    position: relative;
    top: -21px;
}

.ingredients-btn {
    background-color: transparent;
    border: none;
    font-family: 'Poppins';
    font-weight: 700;
    color: white;
    padding-left: 60px;
}

.ingredients-btn:hover, .instructions-btn:hover {
    transform: scale(1.1);
}

.ingredients-list {
    padding-left: 100px;
    font-family: 'Poppins';
    font-weight: 300;
    color: white;
    display: grid;
    width: 800px;
    grid-template-columns: repeat(auto-fit, minmax(min(100%/3, max(64px, 100%/3)), 1fr));
    row-gap: 10px;
}

.ingredients-list-item {
    width: 250px;
}

.ingredients-section {
    background-color: rgb(150, 114, 89, .7);
    padding-bottom: 20px;
}

.instructions-btn {
    background-color: transparent;
    border: none;
    font-family: 'Poppins';
    font-weight: 700;
    color: #492310;
    padding-left: 60px;
    padding-top: 20px;
}

.instructions-and-fun {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    padding: 0 0px 20px 20px;
    box-sizing: border-box;
}

.instructions-list {
    font-family: 'Poppins';
    font-weight: 300;
    color: #492310;
    width: 600px;
    padding-left: 60px;
}

.instructions-list-item {
    width: 450px;
}

.fun-fact {
    background-color: #492310;
    color: white;
    font-family: 'Poppins';
    font-weight: 300;
    width: 450px;
    padding: 20px;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    margin-left: auto;
}

.fun-fact h4 {
    font-style: italic;
}